/* General Styles */
body {
    font-family: 'Redaction';
    margin: 0;
    padding: 0;
    color: #faf6f6;
    height: 100vh;
    background: linear-gradient(145deg, rgb(0, 0, 0), rgb(58, 18, 153));
    background-size: cover;

}
.title {
    text-align: center;
    margin-bottom: 1rem;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    color: rgb(58, 79, 69);

    
}
  
.planet-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

/* Hero Section */
.hero-section {
    height: 100vh;
    background: linear-gradient(145deg, rgb(19, 19, 201), rgb(58, 18, 153));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    background: linear-gradient(145deg, rgb(19, 19, 201), rgb(58, 18, 153));

}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007AFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
     background: linear-gradient(145deg, rgb(19, 19, 201), rgb(58, 18, 153));
}

/* Featured Planets Section */
.featured-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #f4f4f4;
    background-color: transparent;


}

.planet {
    text-align: center;
    max-width: 300px;

}

.planet img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    display: block;
    margin: 0 auto 1rem;
    border-radius: 10px;
}

.planet h2 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;

}

.planet p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ababab;
}

.learn-more {
  background: linear-gradient(145deg, rgb(0, 0, 5), rgb(100, 77, 155));
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007AFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}




footer {
    padding: 1rem;
    background-color: hwb(0 100% 0%);
    color: #fff;
    text-align: center;
    background-color: transparent;
    position: bottom;
       display: flex;
    justify-content: center;
    align-items: center;
    
}


/* footer p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: grey;
    background-color: transparent;
}
